@import "themes";
@import "mixins";

//DEFAULTS------------------
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: black;
  color: white;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */

* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 2em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
  color: red;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// @include themify($themes) {
//   color: themed('textColor');
//   background-color: themed('backgroundColor');
// }

@include themify($themes) {
  $primary: themed("primary");
  $secondary: themed("secondary");
  $selected: themed("selected");
  $background: themed("background");
  $text: themed("text");
  $alternative-text: themed("alternative-text");
  $card-background: themed("card-background");

  html {
    background-color: $background;
  }

  .content-container {
    background: $background;
    height: 100%;
    width: 100%;
  }

  // Header
  app-header {
    .header {
      mat-toolbar {
        background-color: $primary;
      }
      h1 {
        color: $secondary;
        &:hover {
          color: $selected;
        }
      }
      button {
        color: $secondary;
      }
      .navigation-items {
        li {
          a {
            color: $secondary;
            &:hover,
            &:active {
              color: $selected;
            }
          }
        }
      }
    }
  }

  //Dashboard
  app-dashboard {
    h2 {
      color: $text;
      background-color: $primary;
    }
    .heroes-menu {
      a {
        background-color: $primary;
        color: $text;
        &:hover {
          background-color: $selected;
        }
      }
    }
  }

  //heroes component
  app-heroes {
    .heroes {
      a {
        background-color: $card-background;
        color: $secondary;
        &:hover {
          background-color: $selected;
        }
      }
      .badge {
        color: $alternative-text;
        background-color: $secondary;
      }
    }
    mat-icon {
      color: $text;
    }
    button.delete {
      background-color: $text;
      &:hover {
        background-color: $selected;
      }
    }
  }
  //Messages

  app-messages {
    h2 {
      color: $text;
    }
    button {
      background-color: $primary;
      color: $text;
      &:hover {
        background-color: $selected;
      }
    }
    div {
      background-color: $background;
      .message-text {
        color: $alternative-text;
      }
    }
  }

  //Hero Form
  app-hero-form {
    .mat-card {
      background-color: $card-background;
      color: $text;
      label {
        color: $secondary;
      }

      mat-label {
        color: $secondary;
      }

      input {
        color: $secondary;
      }

      mat-select {
        div {
          div {
            span {
              span {
                color: $secondary;
              }
            }
          }
        }
      }

      button {
        color: $secondary;
        background-color: $primary;
        &:disabled {
          color: rgba($secondary, 0.7);
          background-color: rgba($primary, 0.7);
        }
      }

      .mat-chip.mat-standard-chip {
        color: $secondary;
        background-color: $primary;
      }

      textarea {
        color: $secondary;
      }
    }
  }

  //Hero details page
  app-hero-detail {
    .mat-card {
      background-color: $card-background;
      color: $text;
      label {
        color: $secondary;
      }
      button {
        background-color: $secondary;
        &:hover {
          background-color: $selected;
        }
      }

      h1 {
        color: $secondary;
      }

      h2 {
        color: $secondary;
      }
    }
  }
}
