@import "themes";
@import "mixins";

//DEFAULTS------------------
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: black;
  color: white;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */

* {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
}

body {
  margin: 2em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
  color: red;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// @include themify($themes) {
//   color: themed('textColor');
//   background-color: themed('backgroundColor');
// }

.content-container {
  @include themify($themes) {
    background: themed("backgroundColor");
  }
  height: 100%;
  width: 100%;
}

// Header
app-header {
  .header {
    mat-toolbar {
      @include themify($themes) {
        background-color: themed("headerColor");
      }
    }
    h1 {
      @include themify($themes) {
        color: themed("headerTextColor");
      }
      &:hover {
        @include themify($themes) {
          color: themed("selectedColor");
        }
      }
    }
    button {
      @include themify($themes) {
        color: themed("headerTextColor");
      }
    }
    .navigation-items {
      li {
        a {
          @include themify($themes) {
            color: themed("headerTextColor");
          }
          &:hover,
          &:active {
            @include themify($themes) {
              color: themed("selectedColor");
            }
          }
        }
      }
    }
  }
}

//Dashboard
app-dashboard {
  h2 {
    @include themify($themes) {
      color: themed("textColor");
      background-color: themed("headerColor");
    }
  }
  .heroes-menu {
    a {
      @include themify($themes) {
        background-color: themed("headerColor");
      }
      @include themify($themes) {
        color: themed("textColor");
      }
      &:hover {
        @include themify($themes) {
          background-color: themed("selectedColor");
        }
      }
    }
  }
}

//heroes component
app-heroes {
  .heroes {
    a {
      @include themify($themes) {
        background-color: themed("headerColor");
        color: themed("headerTextColor");
      }
      &:hover {
        @include themify($themes) {
          background-color: themed("selectedColor");
        }
      }
    }
    .badge {
      @include themify($themes) {
        color: themed("alternativeTextColor");
        background-color: themed("headerTextColor");
      }
    }
  }
  mat-icon {
    @include themify($themes) {
      color: themed("textColor");
    }
  }
  button.delete {
    @include themify($themes) {
      background-color: themed("textColor");
    }
    &:hover {
      @include themify($themes) {
        background-color: themed("selectedColor");
      }
    }
  }
}
//Messages

app-messages {
  h2{
    @include themify($themes) {
      color: themed("textColor");
    }
  }

  button{
    @include themify($themes) {
      background-color: themed("headerColor");
      color: themed("textColor");
    }

    &:hover{
      @include themify($themes) {
      background-color: themed("selectedColor");
      }
    }
  }

  div {
    @include themify($themes) {
      background-color: themed("backgroundColor");
    }
    .message-text{
      @include themify($themes) {
        color: themed("alternativeTextColor");
      }
    }
  }
}
