@import "../../../styles/abstracts/placeholders";

.mobile-header {
  display: none;
  @extend %header-defaults;
  @media (max-width: 768px) {
    display: block;
  }
}

.header {
  display: block;
  @extend %header-defaults;
  @media (min-width: 1024px) {
    .heroes-menu {
      display: flex;
      flex-direction: row;
    }
    a {
      width: 18%;
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
}
