<mat-card>
  <div class="title" >
    <h1 class="title-text">TOUR OF HEROES</h1>
  </div>
  <mat-card-subtitle>
    <form
      (ngSubmit)="register()"
      [formGroup]="registerFormGroup"
      class="register-form"
      #heroForm="ngForm"
    >
      <!-- Username -->
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          color="accent"
          [formControl]="usernameControl"
          matInput
          type="text"
        />
      </mat-form-field>
      <div
        class="error"
        *ngIf="usernameControl.errors?.['required'] && usernameControl.touched"
      >
        Username is required.
      </div>
      <!-- Password -->
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          color="accent"
          [formControl]="passwordControl"
          matInput
          type="password"
        />
      </mat-form-field>
      <div
        class="error"
        *ngIf="passwordControl.errors?.['required'] && passwordControl.touched"
      >
        Password is required.
      </div>
      <!-- Repeat Passwrod -->
      <mat-form-field appearance="fill">
        <mat-label>Repeat Password</mat-label>
        <input
          color="accent"
          [formControl]="confirmPasswordControl"
          matInput
          type="password"
        />
      </mat-form-field>
      <div
        class="error"
        *ngIf="confirmPasswordControl.errors?.['required'] && confirmPasswordControl.touched"
      >
        Password Confirmation is required.
      </div>
      <div class="error" *ngIf="passwordMatchError">
        Password does not match
      </div>

      <div>
        <p>Already have an account <a routerLink="/login">Login</a></p>
      </div>

      <!-- Button -->
      <button type="submit" [disabled]="!registerFormGroup.valid">
        Register
      </button>
    </form>
  </mat-card-subtitle>
</mat-card>
