<div class="header">
  <mat-toolbar color="primary">
    <div>
      <h1 routerLink="/dashboard">{{ title }}</h1>
    </div>
    <div>
      <ul class="navigation-items">
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
          <a routerLink="/heroes">Heroes</a>
        </li>
      </ul>
    </div>
    <div class="left-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>brush</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onThemeSelect('theme-light')">
          Light Mode
        </button>
        <button mat-menu-item (click)="onThemeSelect('theme-dark')">
          Dark Mode
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>

<div class="mobile-header">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button [matMenuTriggerFor]="mobileMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #mobileMenu="matMenu">
        <button mat-menu-item routerLink="/dashboard">
          Dashboard
        </button>
        <button mat-menu-item routerLink="/heroes">
          Heroes
        </button>
        <button mat-menu-item (click)="onThemeSelect('theme-light')">
          Light Mode
        </button>
        <button mat-menu-item (click)="onThemeSelect('theme-dark')">
          Dark Mode
        </button>
      </mat-menu>
      <div>
        <h1 routerLink="/dashboard">{{ title }}</h1>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
