@import "../styles/abstracts/placeholders";
@import "../styles/abstracts/mixins";

.search-component {
  width: 40%;
  margin-left: 1em;
  margin-right: 1em;
  label {
    @include pageTitle(30%);
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
  }
  input {
    @extend %searchbox;
    display: block;
    &:focus {
      outline: #272727 auto 1px;
    }
  }
  li {
    list-style-type: none;
  }
  .search-result {
    li {
      a {
        @extend %searchbox;
        display: inline-block;
        text-decoration: none;
      }
    }
  }
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }
  @media (max-width: 1024px) {
    @include centered(0, 90%);
    width: 90%;
  }
}
