.themed-dialog {
    .mat-dialog-container {
      background-color: $primary;
      h2 {
        color: $secondary;
      }
      h4 {
        color: $secondary;
      }
      p {
        color: $secondary;
      }
    }
  }