app-heroes {
  h2{
    color: $secondary;
  }
    .heroes-list {
      background-color: $background;
    }
    .heroes {
      a {
        background-color: $card-background;
        color: $secondary;
        &:hover {
          background-color: $selected;
        }
      }
      .badge {
        color: $alternative-text;
        background-color: $secondary;
      }
    }
    mat-icon {
      color: $text;
    }
    button.delete {
      background-color: $text;
      &:hover {
        background-color: $selected;
      }
    }
  }