$primary: themed("primary");
$secondary: themed("secondary");
$selected: themed("selected");
$background: themed("background");
$text: themed("text");
$alternative-text: themed("alternative-text");
$card-background: themed("card-background");
