<!-- Hero Form -->
<div *ngIf="hero">
  <mat-card class="example-card">
    <mat-card-title>{{ hero.name }}</mat-card-title>
    <mat-card-content>
      <div class="container">
        <h1>Level:</h1>
        <div>
          <h2>{{ hero.level }}</h2>
        </div>
      </div>
      <h1>Description:</h1>
      <div class="description">
        <h2>{{ hero.description }}</h2>
      </div>
      <h1>Hashtags:</h1>
      <div class="container">
        <h5 *ngFor="let tag of hero.hashtags">#{{ tag }}</h5>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" (click)="goBack()">Back</button>
      <button mat-button (click)="openDialog()">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
