label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  .hero-form {
    display: inline-grid;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .mat-radio-group {
    margin: 1em;
  }
  
  .radio {
    margin-left: 1em;
    margin-right: 1em;
  }