.hero-edit-form{
  mat-card{
    width: 80%;
    margin: 0 auto;
  }
}

.hero-page-container{
    mat-card {
    width: 100%;
    margin: 0 auto;
    max-height: 515px;
    padding-bottom: 0;
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 80%;
      margin: 0 auto;
    }
    @media (max-width: 768px) {
      width: 80%;
      margin: 0 auto;
    }
  }
}

.mat-chip-list-wrapper {
  max-height: 40px;
  overflow-y: auto;
}

div.mat-chip-list-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .mat-chip {
    flex: 0 0 auto;
  }
}

.mat-card {
  .hero-form {
    display: inline-grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    button{
      margin: 0;
    }
    textarea{
      max-height: 50px;
    }
  }
  .mat-radio-group {
    margin: 1em;
  }
  .radio {
    margin-left: 1em;
    margin-right: 1em;
  }
}
