.mat-card {
  .hero-form {
    display: inline-grid;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .mat-radio-group {
    margin: 1em;
  }
  .radio {
    margin-left: 1em;
    margin-right: 1em;
  }
}
