<mat-card>
  <div *ngIf="!adminMode" class="title">
    <h1 class="title-text">TOUR OF HEROES</h1>
  </div>
  <div *ngIf="adminMode" class="title">
    <h1 class="title-text">TOUR OF HEROES ADMIN PANNEL</h1>
  </div>
  <mat-card-subtitle>
    <form
      [formGroup]="loginFormGroup"
      class="login-form"
      #heroForm="ngForm"
    >
      <!-- Email -->
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          color="accent"
          [formControl]="emailControl"
          matInput
          email = "true"
        />
      </mat-form-field>
      <div
        class="error"
        *ngIf="emailControl.errors?.['required'] && emailControl.touched"
      >
        Email is required.
      </div>
      <div
        class="error"
        *ngIf="(emailControl.errors?.['pattern'] || emailControl.errors?.['email']) && emailControl.touched"
      >
        Wrong email format
      </div>
      <!-- 
            Password
            -->
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          color="accent"
          [formControl]="passwordControl"
          matInput
          type="password"
          autocomplete="on"
        />
      </mat-form-field>
      <div
        class="error"
        *ngIf="passwordControl.errors?.['required'] && passwordControl.touched"
      >
        Password is required.
      </div>

      <div *ngIf="!adminMode">
        <p>Don't have an account <a routerLink="/register">Register</a></p>
      </div>

      <!-- Button -->
      <button (click)="login()" type="submit" [disabled]="!loginFormGroup.valid">Login</button>
    </form>
  </mat-card-subtitle>
</mat-card>
