@import "../styles/abstracts/mixins";
//Dashboard
h2 {
  @include pageTitle(50%);
}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;
  @include setFlex(row);

  /* flexbox */
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  a {
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    @include centered(0.5rem, 18%);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    min-width: 70px;
    box-sizing: border-box;
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  @media (min-width: 1024px) {
    .heroes-menu {
      @include setFlex(row);
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .heroes-menu {
      @include setFlex(column);
      @include centered(0, 90%);
    }
    a {
      width: 90%;
      box-sizing: content-box;
    }
  }
  @media (max-width: 768px) {
    .heroes-menu {
      display: inline-grid;
      @include centered(1, 90%);
    }
    a {
      @include centered(1, 90%);
      box-sizing: content-box;
    }
  }
}
