//Dashboard
h2 {
  text-align: center;
  width: 50%;
  margin: 1em auto;
  border-radius: 2em;
}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;

  /* flexbox */
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  a {
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    width: 18%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    min-width: 70px;
    margin: 0.5rem auto;
    box-sizing: border-box;

    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  @media (min-width: 1024px) {
    .heroes-menu {
      display: flex;
      flex-direction: rowa;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .heroes-menu {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    a {
      width: 90%;
      box-sizing: content-box;
    }
  }
  @media (max-width: 768px) {
    .heroes-menu {
      display: inline-grid;
      width: 90%;
    }
    a {
      width: 90%;
      margin: 1 auto;
      box-sizing: content-box;
    }
  }
}
