<!-- Hero Form -->
<div class="hero-details" *ngIf="hero">
  <mat-card class="example-card">
    <mat-card-title>{{ hero.name }}</mat-card-title>
    <mat-card-content>
      <div class="container">
        <h3>Level:</h3>
        <div>
          <h3>{{ hero.level }}</h3>
        </div>
      </div>
      <h3>Description:</h3>
      <div class="description">
        <p>{{ hero.description }}</p>
      </div>
      <h1>Hashtags:</h1>
      <div class="container">
        <h5 *ngFor="let tag of hero.hashtags">#{{ tag }}</h5>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" (click)="goBack()">Back</button>
      <button mat-button (click)="openDialog()">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!hero" style="display: flex; place-content: center; width: 100%; align-items: center; height: 10rem;">
  YOU CANNOT ACCESS THIS HERO INFORMATION OR IT DOESNT EXIST
</div>
