.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 30em;
  li {
    position: relative;
    cursor: pointer;

    &:hover {
      left: 0.1em;
    }
  }
  a {
    text-decoration: none;
    margin: 0.5em;
    padding: 0.3em 0;
    border-radius: 4px;
    display: block;
    min-height: 3.8em;
    width: 100%;
    max-height: 10.8em;
    &:active {
      background-color: #525252;
      color: #fafafa;
    }
  }
  .badge {
    display: inline-block;
    font-size: small;
    padding: 0.8em 0.7em 0 0.7em;
    border-bottom-right-radius: 20px;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: 0.8em;
  }
}

button.delete {
  position: absolute;
  left: 390px;
  top: 5px;
  color: #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
}

.dialog-button {
  top: 6px;
  left: 363px;
  position: absolute;
}
