.hero-page-container{
  display: flex;
  width: 100%;
  max-height: 515px;
  .hero-form{
    width: 45%;
    margin: 0 auto;
  }
  .heroes-list {
    display: grid;
    margin: 0 auto;
    width: 45%;
    overflow-y: auto;
    max-height: 100%;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    max-height: none;
    display: block;
    .heroes-list{
      width: 90%;
    }
    .hero-form{
      width: 90%;
      margin: 0 auto;
    }
  }
  @media (max-width: 768px) {
    max-height: none;
    display: block;
    .heroes-list{
      width: 90%;
    }
    .hero-form{
      width: 90%;
      margin: 0 auto;
    }
  }
}


.heroes {
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 85%;
  margin: 0 auto;
    
    li {
      position: relative;
      cursor: pointer;
      &:hover {
        left: 0.1em;
      }
    } 
  
  a {
    text-decoration: none;
    margin: 0.5em;
    padding: 0.3em 0;
    border-radius: 4px;
    display: block;
    min-height: 3.8em;
    width: 95%;
    max-height: 10.8em;
    &:active {
      background-color: #525252;
      color: #fafafa;
    }
  }
  .badge {
    display: inline-block;
    font-size: small;
    padding: 0.8em 0.7em 0 0.7em;
    border-bottom-right-radius: 20px;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: 0.8em;
  }
}

button.delete {
  position: absolute;
  left: 84%;
  top: 5px;
  color: #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
}

.dialog-button {
  top: 6px;
  left: 76%;
  position: absolute;
}
