@import "../styles/abstracts/mixins";
@import "../styles/abstracts/placeholders";

h2{
  @include pageTitle(40%);
}

.hero-page-container{
  display: flex;
  width: 100%;
  max-height: 515px;
  .hero-form{
    @include centered(0, 45%);
  }
  .heroes-list {
    display: grid;
    @extend .hero-form;
    @extend %scrollbar;
    max-height: 100%;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    max-height: none;
    display: block;
    .heroes-list{
      width: 90%;
    }
    .hero-form{
      @include centered(0, 90%);
    }
  }
  @media (max-width: 768px) {
    max-height: none;
    display: block;
    .heroes-list{
      width: 90%;
    }
    .hero-form{
      @include centered(0, 90%);
    }
  }
}

.heroes {
  list-style-type: none;
  padding: 0;
  @include centered(0, 85%);
    li {
      position: relative;
      cursor: pointer;
      &:hover {
        left: 0.1em;
      }
    } 
  a {
    text-decoration: none;
    margin: 0.5em;
    padding: 0.3em 0;
    border-radius: 4px;
    display: block;
    min-height: 3.8em;
    width: 95%;
    max-height: 10.8em;
    &:active {
      background-color: #525252;
      color: #fafafa;
    }
  }
  .badge {
    @include setPosition(relative, -1px, -4px);
    display: inline-block;
    font-size: small;
    padding: 0.8em 0.7em 0 0.7em;
    border-bottom-right-radius: 20px;
    line-height: 1em;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: 0.8em;
  }
}

button.delete {
  @include setPosition(absolute, 84%, 5px);
  color: #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
}

.dialog-button {
  @include setPosition(absolute, 76%, 6px);
}
