<h2>My Heroes</h2>
<!-- Hero Form -->
<mat-card>
  <mat-card-title>Create new hero</mat-card-title>
  <mat-card-subtitle>
    <form (ngSubmit)="add()" [formGroup]="addHeroGroup" class="hero-form">
      <!-- Name -->
      <mat-form-field appearance="fill">
        <mat-label>Hero name</mat-label>
        <input [formControl]="nameControl" matInput type="text" />
      </mat-form-field>
      <div *ngIf="nameControl.errors?.['required']">Name is required.</div>
      <!-- Level -->
      <mat-form-field appearance="fill">
        <mat-label>Hero level</mat-label>
        <mat-select [formControl]="levelControl">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="levelControl.errors?.['required']">Level is required.</div>

      <!-- Company -->
      <mat-label>Company</mat-label>
      <mat-radio-group
        [formControl]="companyControl"
        aria-label="Select an option"
      >
        <mat-radio-button color="primary" class="radio" value="Marvel"
          >Marvel</mat-radio-button
        >
        <mat-radio-button color="primary" class="radio" value="DC"
          >DC</mat-radio-button
        >
      </mat-radio-group>
      <div *ngIf="companyControl.errors?.['required']">
        Company is required.
      </div>

      <!-- Description -->
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea [formControl]="descriptionControl" matInput></textarea>
      </mat-form-field>
      <div *ngIf="descriptionControl.errors?.['required']">
        Description is required.
      </div>

      <!-- Hashtags -->
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Hashtags</mat-label>
        <mat-chip-list #chipList aria-label="Hashtags selection">
          <mat-chip
            *ngFor="let hashtag of hashtags"
            (removed)="removeChip(hashtag)"
          >
            {{ hashtag }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New hashtag"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addChip($event)"
          />
        </mat-chip-list>
      </mat-form-field>

      <!-- Button -->
      <button type="submit" [disabled]="!addHeroGroup.valid">Submit</button>
    </form>
  </mat-card-subtitle>
  <mat-card-actions> </mat-card-actions>
</mat-card>
<br />
<!-- Hero List -->
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
      <span class="name"> Level: {{ hero.level }}</span>
      <mat-chip-list aria-label="hashtags">
        <mat-chip disabled *ngFor="let hashtag of hero.hashtags">
          #{{ hashtag }}
        </mat-chip>
      </mat-chip-list>
    </a>
    <button
      type="button"
      class="delete"
      title="delete hero"
      (click)="delete(hero)"
    >
      x
    </button>
    <mat-icon class="dialog-button" mat-button (click)="openDialog(hero.description)"
      >description</mat-icon
    >
  </li>
</ul>