@import "../styles/abstracts/placeholders";

.search-component {
  width: 40%;
  label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  input{
    @extend %searchbox;
    display: block;
    &:focus {
      outline: #272727 auto 1px;
    }
  }
  li {
    list-style-type: none;
  }
  .search-result {
    li {
      a {
        @extend %searchbox;
        display: inline-block;
        text-decoration: none;
      }
    }
  }
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }
}
