* {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

body,
input[type="text"],
button {
  font-family: Cambria, Georgia, serif;
}

body{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}